# Django et serveur WSGI
Django==3.2.9
gunicorn==20.1.0
# PostgreSQL (driver)
psycopg2-binary==2.9.3
# Gestion des fichiers statiques
whitenoise[brotli]==6.2.0
# Gestion des variables d’environnement
dj-database-url==0.5.0
django-environ==0.8.1
python-dotenv==0.21.0
