# Django et serveur WSGI
Django==3.2.9
gunicorn==20.1.0

# PostgreSQL (driver)
psycopg2-binary==2.9.1

# Gestion des fichiers statiques
whitenoise[brotli]

# Gestion des variables d’environnement
dj-database-url

# Sécurité et configuration environnementale
python-dotenv
